#about {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./images/about-pic2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .about-head {
        width: 90%;
        margin-left: 5%;
    }
    .about-title {
        color: white;
        padding: 1rem 0rem;
    }
    .about-par {
        color: white;
        margin: 2%;
        margin-left: 20%;
        max-width: 50%;
    }
}