    footer {
        color: white;
        background: rgba(19, 28, 39, 0.8);
        .footer-wrapper {
            display: flex;
            padding: 2rem;
            width: 50%;
            margin: auto;
            align-items: center;
            min-height: 5vh;
            flex-wrap: wrap;
        }
        footer h5 {
            flex: 1 1 40rem;
        }
        footer ul {
            display: flex;
            list-style: none;
            flex: 1 1 40rem;
            justify-content: space-between;
            align-items: center;
        }
        .footer-wrapper img {
            align-items: center;
            justify-content: center;
            max-width: 100%;
        }
        .footer-wrapper img:hover {
            filter: opacity(50%);
        }
        ul {
            display: flex;
            list-style: none;
        }
        li {
            margin: 1rem;
        }
    }